///*------------------------------------*\
//    #TRUMPS-SPACING
//\*------------------------------------*/

$base-spacing-unit: 8px;
$neg-margin: -1 * $base-spacing-unit;

// Margin and padding helper classes. Use these to tweak layout on a micro level.
//
// `.(m|p)(t|r|b|l|h|v)(s|md|l|xl|xxl) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none


// Margin helper classes.
//
// Add margins.
%m          { margin:           $base-spacing-unit !important; }
%mt         { margin-top:       $base-spacing-unit !important; }
%mr         { margin-right:     $base-spacing-unit !important; }
%mb         { margin-bottom:    $base-spacing-unit !important; }
%ml         { margin-left:      $base-spacing-unit !important; }
%mh         { margin-right:     $base-spacing-unit !important; margin-left:      $base-spacing-unit !important; }
%mv         { margin-top:       $base-spacing-unit !important; margin-bottom:    $base-spacing-unit !important; }

// Add xs margins.
%m-xs       { margin:           $base-spacing-unit * .25 !important; }
%mt-xs      { margin-top:       $base-spacing-unit * .25 !important; }
%mr-xs      { margin-right:     $base-spacing-unit * .25 !important; }
%mb-xs      { margin-bottom:    $base-spacing-unit * .25 !important; }
%ml-xs      { margin-left:      $base-spacing-unit * .25 !important; }
%mh-xs      { margin-right:     $base-spacing-unit * .25 !important; margin-left:   $base-spacing-unit * .25 !important; }
%mv-xs      { margin-top:       $base-spacing-unit * .25 !important; margin-bottom: $base-spacing-unit * .25 !important; }

// Add small margins.
%m-s        { margin:           $base-spacing-unit * .5 !important; }
%mt-s       { margin-top:       $base-spacing-unit * .5 !important; }
%mr-s       { margin-right:     $base-spacing-unit * .5 !important; }
%mb-s       { margin-bottom:    $base-spacing-unit * .5 !important; }
%ml-s       { margin-left:      $base-spacing-unit * .5 !important; }
%mh-s       { margin-right:     $base-spacing-unit * .5 !important; margin-left:   $base-spacing-unit * .5 !important; }
%mv-s       { margin-top:       $base-spacing-unit * .5 !important; margin-bottom: $base-spacing-unit * .5 !important; }

// Add medium margins.
%m-md       { margin:           $base-spacing-unit * 1.5 !important; }
%mt-md      { margin-top:       $base-spacing-unit * 1.5 !important; }
%mr-md      { margin-right:     $base-spacing-unit * 1.5 !important; }
%mb-md      { margin-bottom:    $base-spacing-unit * 1.5 !important; }
%ml-md      { margin-left:      $base-spacing-unit * 1.5 !important; }
%mh-md      { margin-right:     $base-spacing-unit * 1.5 !important; margin-left:   $base-spacing-unit * 1.5 !important; }
%mv-md      { margin-top:       $base-spacing-unit * 1.5 !important; margin-bottom: $base-spacing-unit * 1.5 !important; }

// Add large margins.
%m-l        { margin:           $base-spacing-unit * 2 !important; }
%mt-l       { margin-top:       $base-spacing-unit * 2 !important; }
%mr-l       { margin-right:     $base-spacing-unit * 2 !important; }
%mb-l       { margin-bottom:    $base-spacing-unit * 2 !important; }
%ml-l       { margin-left:      $base-spacing-unit * 2 !important; }
%mh-l       { margin-right:     $base-spacing-unit * 2 !important; margin-left:   $base-spacing-unit * 2 !important; }
%mv-l       { margin-top:       $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }

// Add x-large margins.
%m-xl       { margin:           $base-spacing-unit * 3 !important; }
%mt-xl      { margin-top:       $base-spacing-unit * 3 !important; }
%mr-xl      { margin-right:     $base-spacing-unit * 3 !important; }
%mb-xl      { margin-bottom:    $base-spacing-unit * 3 !important; }
%ml-xl      { margin-left:      $base-spacing-unit * 3 !important; }
%mh-xl      { margin-right:     $base-spacing-unit * 3 !important; margin-left:   $base-spacing-unit * 3 !important; }
%mv-xl      { margin-top:       $base-spacing-unit * 3 !important; margin-bottom: $base-spacing-unit * 3 !important; }

// Add huge margins.
%m-xxl      { margin:           $base-spacing-unit * 4 !important; }
%mt-xxl     { margin-top:       $base-spacing-unit * 4 !important; }
%mr-xxl     { margin-right:     $base-spacing-unit * 4 !important; }
%mb-xxl     { margin-bottom:    $base-spacing-unit * 4 !important; }
%ml-xxl     { margin-left:      $base-spacing-unit * 4 !important; }
%mh-xxl     { margin-right:     $base-spacing-unit * 4 !important; margin-left:   $base-spacing-unit * 4 !important; }
%mv-xxl     { margin-top:       $base-spacing-unit * 4 !important; margin-bottom: $base-spacing-unit * 4 !important; }

// Remove margins.
%m0         { margin:           0 !important; }
%mt0        { margin-top:       0 !important; }
%mr0        { margin-right:     0 !important; }
%mb0        { margin-bottom:    0 !important; }
%ml0        { margin-left:      0 !important; }
%mh0        { margin-right:     0 !important; margin-left:      0 !important; }
%mv0        { margin-top:       0 !important; margin-bottom:    0 !important; }



// Padding helper classes.
//
// Add paddings.
%p          { padding:          $base-spacing-unit !important; }
%pt         { padding-top:      $base-spacing-unit !important; }
%pr         { padding-right:    $base-spacing-unit !important; }
%pb         { padding-bottom:   $base-spacing-unit !important; }
%pl         { padding-left:     $base-spacing-unit !important; }
%ph         { padding-right:    $base-spacing-unit !important; padding-left:    $base-spacing-unit !important; }
%pv         { padding-top:      $base-spacing-unit !important; padding-bottom:  $base-spacing-unit !important; }

// Add x-small paddings.
%p-xs       { padding:           $base-spacing-unit * .25 !important; }
%pt-xs      { padding-top:       $base-spacing-unit * .25 !important; }
%pr-xs      { padding-right:     $base-spacing-unit * .25 !important; }
%pb-xs      { padding-bottom:    $base-spacing-unit * .25 !important; }
%pl-xs      { padding-left:      $base-spacing-unit * .25 !important; }
%ph-xs      { padding-right:     $base-spacing-unit * .25 !important; padding-left:    $base-spacing-unit * .25 !important; }
%pv-xs      { padding-top:       $base-spacing-unit * .25 !important; padding-bottom:  $base-spacing-unit * .25 !important; }

// Add small paddings.
%p-s        { padding:           $base-spacing-unit * .5 !important; }
%pt-s       { padding-top:       $base-spacing-unit * .5 !important; }
%pr-s       { padding-right:     $base-spacing-unit * .5 !important; }
%pb-s       { padding-bottom:    $base-spacing-unit * .5 !important; }
%pl-s       { padding-left:      $base-spacing-unit * .5 !important; }
%ph-s       { padding-right:     $base-spacing-unit * .5 !important; padding-left:    $base-spacing-unit * .5 !important; }
%pv-s       { padding-top:       $base-spacing-unit * .5 !important; padding-bottom:  $base-spacing-unit * .5 !important; }

 // Add medium paddings.
%p-md       { padding:           $base-spacing-unit * 1.5 !important; }
%pt-md      { padding-top:       $base-spacing-unit * 1.5 !important; }
%pr-md      { padding-right:     $base-spacing-unit * 1.5 !important; }
%pb-md      { padding-bottom:    $base-spacing-unit * 1.5 !important; }
%pl-md      { padding-left:      $base-spacing-unit * 1.5 !important; }
%ph-md      { padding-right:     $base-spacing-unit * 1.5 !important; padding-left:   $base-spacing-unit * 1.5 !important; }
%pv-md      { padding-top:       $base-spacing-unit * 1.5 !important; padding-bottom: $base-spacing-unit * 1.5 !important; }

// Add large paddings.
%p-l        { padding:           $base-spacing-unit * 2 !important; }
%pt-l       { padding-top:       $base-spacing-unit * 2 !important; }
%pr-l       { padding-right:     $base-spacing-unit * 2 !important; }
%pb-l       { padding-bottom:    $base-spacing-unit * 2 !important; }
%pl-l       { padding-left:      $base-spacing-unit * 2 !important; }
%ph-l       { padding-right:     $base-spacing-unit * 2 !important; padding-left:   $base-spacing-unit * 2 !important; }
%pv-l       { padding-top:       $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }

// Add large paddings.
%p-xl       { padding:           $base-spacing-unit * 3 !important; }
%pt-xl      { padding-top:       $base-spacing-unit * 3 !important; }
%pr-xl      { padding-right:     $base-spacing-unit * 3 !important; }
%pb-xl      { padding-bottom:    $base-spacing-unit * 3 !important; }
%pl-xl      { padding-left:      $base-spacing-unit * 3 !important; }
%ph-xl      { padding-right:     $base-spacing-unit * 3 !important; padding-left:    $base-spacing-unit * 3 !important; }
%pv-xl      { padding-top:       $base-spacing-unit * 3 !important; padding-bottom:  $base-spacing-unit * 3 !important; }

// Add huge paddings.
%p-xxl      { padding:           $base-spacing-unit * 4 !important; }
%pt-xxl     { padding-top:       $base-spacing-unit * 4 !important; }
%pr-xxl     { padding-right:     $base-spacing-unit * 4 !important; }
%pb-xxl     { padding-bottom:    $base-spacing-unit * 4 !important; }
%pl-xxl     { padding-left:      $base-spacing-unit * 4 !important; }
%ph-xxl     { padding-right:     $base-spacing-unit * 4 !important; padding-left:    $base-spacing-unit * 4 !important; }
%pv-xxl     { padding-top:       $base-spacing-unit * 4 !important; padding-bottom:  $base-spacing-unit * 4 !important; }

// Remove paddings.
%p0         { padding:          0 !important; }
%pt0        { padding-top:      0 !important; }
%pr0        { padding-right:    0 !important; }
%pb0        { padding-bottom:   0 !important; }
%pl0        { padding-left:     0 !important; }
%ph0        { padding-right:    0 !important; padding-left:     0 !important; }
%pv0        { padding-top:      0 !important; padding-bottom:   0 !important; }



// Add negative margins.
%neg-m      { margin:           $neg-margin !important; }
%neg-mt     { margin-top:       $neg-margin !important; }
%neg-mr     { margin-right:     $neg-margin !important; }
%neg-mb     { margin-bottom:    $neg-margin !important; }
%neg-ml     { margin-left:      $neg-margin !important; }
%neg-mh     { margin-right:     $neg-margin !important; margin-left:      $neg-margin !important; }
%neg-mv     { margin-top:       $neg-margin !important; margin-bottom:    $neg-margin !important; }

// Add small negative margins.
%neg-m-s    { margin:           $neg-margin / 2 !important; }
%neg-mt-s   { margin-top:       $neg-margin / 2 !important; }
%neg-mr-s   { margin-right:     $neg-margin / 2 !important; }
%neg-mb-s   { margin-bottom:    $neg-margin / 2 !important; }
%neg-ml-s   { margin-left:      $neg-margin / 2 !important; }
%neg-mh-s   { margin-right:     $neg-margin / 2 !important; margin-left:   $neg-margin / 2 !important; }
%neg-mv-s   { margin-top:       $neg-margin / 2 !important; margin-bottom: $neg-margin / 2 !important; }

// Add x-small negative margins.
%neg-m-xs   { margin:           $neg-margin / 4 !important; }
%neg-mt-xs  { margin-top:       $neg-margin / 4 !important; }
%neg-mr-xs  { margin-right:     $neg-margin / 4 !important; }
%neg-mb-xs  { margin-bottom:    $neg-margin / 4 !important; }
%neg-ml-xs  { margin-left:      $neg-margin / 4 !important; }
%neg-mh-xs  { margin-right:     $neg-margin / 4 !important; margin-left:   $neg-margin / 4 !important; }
%neg-mv-xs  { margin-top:       $neg-margin / 4 !important; margin-bottom: $neg-margin / 4 !important; }

// Add small-medium negative margins.
%neg-m-md   { margin:           $neg-margin * 1.5 !important; }
%neg-mt-md  { margin-top:       $neg-margin * 1.5 !important; }
%neg-mr-md  { margin-right:     $neg-margin * 1.5 !important; }
%neg-mb-md  { margin-bottom:    $neg-margin * 1.5 !important; }
%neg-ml-md  { margin-left:      $neg-margin * 1.5 !important; }
%neg-mh-md  { margin-right:     $neg-margin * 1.5 !important; margin-left:   $neg-margin * 1.5 !important; }
%neg-mv-md  { margin-top:       $neg-margin * 1.5 !important; margin-bottom: $neg-margin * 1.5 !important; }

// Add medium negative margins.
%neg-m-l    { margin:           $neg-margin * 2 !important; }
%neg-mt-l   { margin-top:       $neg-margin * 2 !important; }
%neg-mr-l   { margin-right:     $neg-margin * 2 !important; }
%neg-mb-l   { margin-bottom:    $neg-margin * 2 !important; }
%neg-ml-l   { margin-left:      $neg-margin * 2 !important; }
%neg-mh-l   { margin-right:     $neg-margin * 2 !important; margin-left:   $neg-margin * 2 !important; }
%neg-mv-l   { margin-top:       $neg-margin * 2 !important; margin-bottom: $neg-margin * 2 !important; }

// Add large negative margins.
%neg-m-xl   { margin:           $neg-margin * 3 !important; }
%neg-mt-xl  { margin-top:       $neg-margin * 3 !important; }
%neg-mr-xl  { margin-right:     $neg-margin * 3 !important; }
%neg-mb-xl  { margin-bottom:    $neg-margin * 3 !important; }
%neg-ml-xl  { margin-left:      $neg-margin * 3 !important; }
%neg-mh-xl  { margin-right:     $neg-margin * 3 !important; margin-left:   $neg-margin * 3 !important; }
%neg-mv-xl  { margin-top:       $neg-margin * 3 !important; margin-bottom: $neg-margin * 3 !important; }

// Add huge negative margins.
%neg-m-xxl  { margin:           $neg-margin * 4 !important; }
%neg-mt-xxl { margin-top:       $neg-margin * 4 !important; }
%neg-mr-xxl { margin-right:     $neg-margin * 4 !important; }
%neg-mb-xxl { margin-bottom:    $neg-margin * 4 !important; }
%neg-ml-xxl { margin-left:      $neg-margin * 4 !important; }
%neg-mh-xxl { margin-right:     $neg-margin * 4 !important; margin-left:   $neg-margin * 4 !important; }
%neg-mv-xxl { margin-top:       $neg-margin * 4 !important; margin-bottom: $neg-margin * 4 !important; }
