@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sidenav-container {
    min-height: 100%;
    height: auto !important;
    margin: 0;
    transform: none;
    top: 70px;
}

navigation-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.sidenav-content {
    max-width: 50em;
    margin: 0 auto;
    min-height: 100vh;
}